@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

body {
    display: grid;
    grid-template-areas:
    'container'
    'footer';
    font-family: 'League Spartan', sans-serif;
}

.container {
    grid-area: container;
    display: flex;
}

.slides,
.info {
    z-index: 0;
    opacity: 0;
    position: absolute;
}

.selecionado,
.selecionada {
    position: relative;
    z-index: 1;
    opacity: 1;
}

.header .slides {
    padding: 7% 5%;
    display: flex;
    align-items: flex-start;
    gap: 3.1rem;
}

.header .menu__box {
    display: flex;
    gap: 1.8rem;
}

.header .menu__box li a {
    color: var(--white);
    position: relative;
}

.header .selecionado {
    width: 50rem;
    height: 33.3rem;
}

.header .menu__box li a::after {
    content: "";
    width: 1.8rem;
    height: 0.2rem;
    background-color: transparent;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 100ms;
}

.header .menu__box li a:hover:after {
    background-color: var(--white);
}

.slide-1 {
    background: url(../images/desktop-image-hero-1.jpg);
    background-size: cover;
}

.slide-2 {
    background: url(../images/desktop-image-hero-2.jpg);
    background-size: cover;
}

.slide-3 {
    background: url(../images/desktop-image-hero-3.jpg);
    background-size: cover;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.main .info {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.main .info h1 {
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
}

.main .info p {
    color: var(--dark-gray);
    margin-bottom: 1.8rem;
}

.main .info a {
    display: flex;
    gap: 1.25rem;
    text-transform: uppercase;
    transition: 0.3s;
}

.main .info a:hover {
    color: var(--dark-gray);
}

.main .buttons {
    display: flex;
    background: var(--black);
    position: absolute;
    left: 0;
    bottom: 0;
}

.main .buttons button {
    padding: 1.8rem;
    transition: 0.3s;
}

.main .buttons button:hover {
    background: var(--dark-gray);
    cursor: pointer;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.footer img {
    width: 100%;
    height: 100%;
}

.footer div {
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}

.footer h2 {
    text-transform: uppercase;
}

.footer p {
    color: var(--dark-gray);
}

input {
    display: none;
}